@import "../../styles/variables.scss";
@import "../../styles/typography.scss";

.cv {
    height: 100vw;
    background-color: $background-color;
    align-items: center;
    display: flex;
    flex-direction: column;

    &__header {
        color: $primary-color;
        font-size: 4rem;
    }

    &__text {
        color: $secondary-color;
        width: 80vw;
    }
}
